@media only screen and (max-width : 1199px)
@media only screen and (max-width : 991px)
	header
		background-image: none
		background-color: #B3B2B0
		padding-bottom: 50px
		h2
			text-align: center
	.veja_item
		margin-bottom: 40px
		h6
			margin-bottom: 	20px
	.numeros
		padding-bottom: 50px	
		h5
			margin-bottom: 10px
		p
			margin-bottom: 30px
	.social
		margin-top: 70px
@media only screen and (max-width : 767px)
	.tar
		text-align: left
	.logo_header
		text-align: center
	header
		h2
			font-size: 30px
	.content_header
		h3, a
			font-size: 24px
		a
			height: 50px
			line-height: 50px
			width: 270px

@media only screen and (max-width : 479px)
	.top_header
		margin-bottom: 100px
	.top_veja
		h2
			font-size: 24px
			span
				font-size: 18px
	.numeros
		padding-top: 50px
	.top_numeros
		h2
			font-size: 24px
			span
				font-size: 18px
	.nav_header
		margin-top: 10px
		font-size: 12px
	.phone_header
		font-size: 12px
	header
		h2
			font-size: 20px
	.content_header
		h3, a, h4
			font-size: 18px
	.content_header a
		height: 38px
		line-height: 38px
	.voce h2
		font-size: 22px